[submodule "KROSS/vendor/imgui"]
	path = KROSS/vendor/imgui
	url = https://github.com/WillianKoessler/imgui.git
	branch = docking
[submodule "KROSS/vendor/glm"]
	path = KROSS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "KROSS/vendor/glfw"]
	path = KROSS/vendor/glfw
	url = https://github.com/WillianKoessler/glfw.git
[submodule "KROSS/vendor/serializer/yaml"]
	path = KROSS/vendor/serializer/yaml
	url = https://github.com/WillianKoessler/yaml-cpp.git
[submodule "KROSS/vendor/spdlog"]
	path = KROSS/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
